
#canvas canvas{
    box-shadow: 0 0 4px black;
    margin: 1em;
}

#controls{
    margin: 1em;
}

#controls textarea{
    font-family: Consolas, Courier, monospace;
}

.badcode{
    background: #fff3ec;
    border: 1px solid #777;
}

.error-message{
    padding: 0.5em;
    margin: 0.5em;
    border: 2px solid red;
    display: inline-block;
}